#offcanvas-about {
    background-color: #101010;
}

.offcanvas-header {
    padding: 2rem 5rem !important;
}

.btn-close {
    font-size: 25px !important;
}


@media(max-width:766.9px){
    .offcanvas-header {
        padding: 2rem 2rem !important;
    }
}